@using Chefs_N_Dishes
@model List<Dishes>

<div class="container">
    <div style="padding-top: 25px;" class="row">
        <div class="col"></div>
        <div class="col text-center"><h1><a href="/">Chefs</a> | Dishes</h1></div>
        <div class="col text-right"><a href="dishes/new">Add a Dish</a></div>
    </div>
</div>

<div class="container" style="padding-top: 20px;">
    <h2 style="padding-bottom: 25px;">Yum, take a look at our tasty dishes!</h2>
    <div style="width: 80%; border: solid black 2px;" class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Chef</th>
                    <th scope="col">Tastiness</th>
                    <th scope="col">Calories</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                        {
                    <tr>
                        <td>@i.Food_Name</td>
                        <td>@i.Creator.Chef_FirstName @i.Creator.Chef_LastName</td>
                        <td>@i.Tastiness</td>
                        <td>@i.Calories</td>
                    </tr>
                        }
            </tbody>
        </table>
    </div>
</div>